article {
   display: inline-block;
   vertical-align: top;
   padding: 25px;
   margin: 20px 1%;
}

.border {
   border-style: solid;
   border-radius: 10px;
}

body{
   font-family: Arial, Helvetica, sans-serif; 
}

.box-header{
   text-align: center;
}

.box{
   max-width: 500px;
   min-height: 600px;
}

.bulletpoints{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.page-header{
   text-align: center;
}

.photo{
   display: flex;
   justify-content: center;
}

.portrait{
   width: 15%;
   height: auto;
}

ul.navbar{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

ul.navbar li{
   display: inline;
   float: left;
   padding: 10px;
}
ul.navbar li a{
   display: block;
   color: black;
   text-align: center;
   text-decoration: none;
}

ul.navbar li a.youAreHere{
   color: white;
   background-color: blue;
}

.fullbox{
   display: flex;
   width: 70%;
   height: 1000px;
}

.socials {
   max-width: 20px;
}